* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header Section */
.slide {
    height: 300px;
    position: relative;
    background-color: rgb(234, 230, 240);
    border-radius: 0px 0px 30px 30px;
}

.left-side {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    z-index: 1;
    color: black;
}

.left-side h2 {
    font-weight: bold;
    font-size: 40px;
    line-height: 1.5;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: Arial, sans-serif;
}

.slide img {
    display: block;
    width: 100%;
    height: auto;
    float: right; 
    margin-left: 50px; 
    max-width: 500px;
}


@media screen and (max-width: 768px) {
    .slide img {
        margin-left: 0; 
    }

    .left-side {
        left: 5%; 
    }
}

@media screen and (max-width: 480px) {
    .left-side h2 {
        font-size: 30px; 
    }

    .slide img {
        margin-left: 0; 
    }

    .left-side {
        left: 0; 
        width: 100%; 
        text-align: center;
    }
}


/* second category part  */


.categories {
    display: flex;
    justify-content: center;
}

.category {
    margin: 10px;
    text-align: center;
}

.category img {
    width: 150px;
    height: 200px;
    border-radius: 50%;
    cursor: pointer;
}


@media screen and (max-width: 768px) {
    .categories {
        flex-wrap: wrap;
    }

    .category {
        margin: 10px auto;
        width: 45%; 
    }
}

@media screen and (max-width: 480px) {
    .category {
        width: 80%; 
    }
}


/* row colom */

.all-data {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap; 
    /
}

.row{
    height: 200px;
    margin-bottom: 40px;
}

.col {
    width: (30%); 
    /* margin-top: 70px;  */
    height: 100%;
    margin-left: 90px;
    border-radius: 10px;
    float: left;
}

.col img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: black;
    transition: transform 0.3s ease; 
}

.col:hover img {
    transform: scale(1.1); 
}


@media screen and (max-width: 1240px) {
    .col {
        width: calc(50%); 
    }
}

@media screen and (max-width: 480px) {
    .col {
        width: calc(100% - 20px); 
    }
}


#categoryData {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
}
#categoryData img{
    width:350px
    
}

#categoryData > div {
    width: 30%; 
    margin: 10px;
    text-align: center;
    
}


@media only screen and (max-width: 768px) {
    #categoryData > div {
        width: 45%; 
    }
}

@media only screen and (max-width: 480px) {
    #categoryData > div {
        width: 100%; 
    }
}

body{
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
  }

  *{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  .container{
    max-width: 1170px;
    margin:auto;
  }
  .row{
    display: flex;
    flex-wrap: wrap;
  }
  ul{
    list-style: none;
  }
  .footer{
    background-color: #24262b;
      padding: 70px 0;
  }
  .footer-col{
     width: 25%;
     padding: 0 15px;
  }
  .footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  .footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  .footer-col ul li:not(:last-child){
    margin-bottom: 10px;
  }
  .footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
  }
  .footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
  }
  .footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  .footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
  }
  

  @media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
    .footer-col{
      width: 100%;
  }
  }


/*////////////////////////////*/

.card{
    background-color: white;
    width: 340px;
    height: 380px;
    border-radius: 10px;  
}

.card {
    background-color:white;
    width: 340px;
    height: 340px;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 20px;
  }
  
  
  
  .card .image > img {
    max-width: 100%;
    border-radius: 8px;
  }
  
  .card .info {
    padding: 0px 10px;
  }
  
  .card .info h3 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 5px;
  }
  
  .card .info p {
    font-size: 18px;
    font-weight: 600;
  }
  
  .card .price {
    text-align: right;
    color: red;
  }
  
  .card .btn {
    display: flex;
    justify-content: space-around;
  }
  
  .card .btn button {
    padding: 12px 32px;
    border: none;
    border-radius: 10px;
    background: #ffa600;
    color: white;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
  }
  
  .card .btn .btn2 {
    background: #1d2630;
    padding: 12px 15px;
  }
  
  .id {
    display: flex;
    justify-content: space-between;
  }
  
  .id .red {
    color: red;
  }
  
  .box1 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(335px, 1fr));
    grid-template-rows: repeat(7, 420px);
    gap: 10px;
    margin-top: 7vh;
    margin-left: 40px;
  }
  
  @media (max-width: 800px) {
    .box1 {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
  }
  
  @media (max-width: 600px) {
    .box1 {
      grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
      grid-template-rows: repeat(auto-fill, 490px);
    }
  }
  
  img
  {
    height: 290px;
    width: 348px;
  }
  
  .card{
    max-width: 100%;
    border-radius: 8px;
    transition: transform 0.3s ease;
  }
  
  .card:hover{
    transform: scale(1.1);
  }
  
  
  
  