* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  
  }
  
  main {
  position: relative;
    min-height: 100vh;
    display: flex;
    background-color: #6799f5;
    justify-content: center;
    align-items: center;
  }
  input {
    background-color: #ecececdd;
    border: none;
    font-size: 14px;
    padding: 10px 12px;
    margin: 8px 0;
    width: 100%;
    color: #333;
    outline: none;
    border-radius: 10px;
  }
   .container {
    position: relative;
    width: 800px;
    height: 600px;
    background: #fff;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border-radius: 5%;
  }
  
  .card{
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
  top: 0;
  left: 0;
  }
  form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .img{
    position: relative;
    width: 50%;
    height: 100%;
    background-image: linear-gradient(
      140deg,
      #3a08df 40%,
      /* #e65c5c 46%,
      #8ddaee 45%, */
    );
    transition: 0.5s;
    
  }
  #registerButton{
    position: absolute;
    top: 200px;
  }
  .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
  top: 0;
  left: 0;
  }
  
  .form {
    position: relative;
    width: 50%;
    height: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    transition: 0.5s;
    flex-direction: column;
  }
  .form img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border:solid 3px black;
    margin-bottom: 30px;
  }
  h2 {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    color: #555;
  }
  .signup {
    position: relative;
    margin-top: 20px;
    font-size: 12px;
    color: #555;
    text-transform: uppercase;
    font-weight: 300;
  }
  button {
    width: 150px;
    height: 40px;
    text-decoration: none;
    border: none;
    color: #fff;
    text-align: center;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    background-color: rgb(3, 3, 107);
  
  }
  a {
    font-weight: 600;
    text-decoration: none;
    color: #677eff;
    cursor: pointer;
  }
  .suggest {
    font-size: 12px;
    color: #a9a9a9;
  }
  .sign_up {
    pointer-events: none;
  }
  
  .container.panel .sign_up {
    pointer-events: initial;
  }
  
  .sign_up .form{
    left: 100%;
  }
  
  .container.panel .sign_up .form {
    left: 0;
  }
  
  .sign_up .img {
    left: -100%;
  }
  
  .container.panel .sign_up .img {
    left: 0%;
  }
  
  .sign_in .form {
    left: 0%;
  }
  
  .container.panel .sign_in .form {
    left: 100%;
  }
  
  .sign_in .img {
    left: 0%;
  }
  
  .container.panel .sign_in .img {
    left: -100%;
  }
  
  @media (max-width: 800px) {
    .container {
      width: 400px;
    }
    .form {
      width: 100%;
    }
    .container .img {
      display: none;
    }
  
   
  }
  
