#searchInput{
    height: 6vh;
    width: 50vw;
   border-radius: 10px;
    margin-left: 23.7vw;
   padding-left: 15px;
   margin-top: 10vh;
    
}

.food-item {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    align-items: center;
    width: 50vw;
    background-color: white;
    border-radius: 10px;
}


.food-item{
  max-width: 100%;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.food-item:hover{
  transform: scale(1.1);
}
.food-item img {
    height: 100px;
    width: 100px;
    margin-right: 20px;
}
.food-item-details h2 {
    margin: 0;
}

#searchResults {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px; 
}


/*////////////////////////////*/
.card {
  background-color: white;
  width: 340px;
  height: 480px;
  border-radius: 10px;
}

.card{
  max-width: 100%;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.card:hover{
  transform: scale(1.1);
}

.card .image > img {
  max-width: 100%;
  border-radius: 10px;
}

.card .info {
  padding: 0px 30px;
}

.card .info h3 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 5px;
}

.card .info p {
  font-size: 18px;
  font-weight: 600;
}

.card .price {
  text-align: right;
  color: red;
}

.card .btn {
  display: flex;
  justify-content: space-around;
}

.card .btn button {
  padding: 12px 32px;
  border: none;
  border-radius: 10px;
  background: #ffa600;
  color: white;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
}

.card .btn .btn2 {
  background: #1d2630;
  padding: 12px 15px;
}

.id {
  display: flex;
  justify-content: space-between;
}

.id .red {
  color: red;
}

.box1 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(335px, 1fr));
  grid-template-rows: repeat(7, 520px);
  gap: 10px;
  margin-top: 7vh;
  margin-left: 40px;
}

@media (max-width: 800px) {
  .box1 {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

@media (max-width: 600px) {
  .box1 {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    grid-template-rows: repeat(auto-fill, 490px);
  }
}

img
{
  height: 290px;
  width: 348px;
}



