* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header Section */
.slide {
    height: 300px;
    position: relative;
    background-color: rgb(234, 230, 240);
    border-radius: 0px 0px 30px 30px;
}

.left-side {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    z-index: 1;
    color: black;
}

.left-side h2 {
    font-weight: bold;
    font-size: 40px;
    line-height: 1.5;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: Arial, sans-serif;
}

.slide img {
    display: block;
    width: 100%;
    height: auto;
    float: right; 
    margin-left: 50px; 
    max-width: 500px;
}


@media screen and (max-width: 768px) {
    .slide img {
        margin-left: 0; 
    }

    .left-side {
        left: 5%; 
    }
}

@media screen and (max-width: 480px) {
    .left-side h2 {
        font-size: 30px; 
    }

    .slide img {
        margin-left: 0; 
    }

    .left-side {
        left: 0; 
        width: 100%; 
        text-align: center;
    }
}


/* second category part  */


.categories {
    display: flex;
    justify-content: center;
}

.category {
    margin: 10px;
    text-align: center;
}

.category img {
    width: 150px;
    height: 200px;
    border-radius: 50%;
    cursor: pointer;
}


@media screen and (max-width: 768px) {
    .categories {
        flex-wrap: wrap;
    }

    .category {
        margin: 10px auto;
        width: 45%; 
    }
}

@media screen and (max-width: 480px) {
    .category {
        width: 80%; 
    }
}


/* row colom */

.all-data {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap; 
    /
}

.row{
    width: 100%;
    height: 200px;
    margin-bottom: 70px;
}

.col {
    width: calc(20%) ; 
    margin-top: 70px; 
    height: 100%;
    margin-left: 70px;
    border-radius: 10px;
    float: left;
    /* border: 2px solid  black; */

}

.col img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: black;
    transition: transform 0.3s ease; 
}

.col:hover img {
    transform: scale(1.1); 
}


@media screen and (max-width: 1240px) {
    .col {
        width: calc(50%); 
    }
}

@media screen and (max-width: 480px) {
    .col {
        width: calc(100% - 20px); 
    }
}


#categoryData {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
}
#categoryData img{
    width:350px
}

#categoryData > div {
    width: 30%; 
    margin: 10px;
    text-align: center;
    
}


@media only screen and (max-width: 768px) {
    #categoryData > div {
        width: 45%; 
    }
}

@media only screen and (max-width: 480px) {
    #categoryData > div {
        width: 100%; 
    }
}

