

/* Logo img Styling*/
.logo img {
    height: 30px;
}
        /* Google font */
        @import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&display=swap');

        :root{
            --purple: #670774;
            --blue: #192a56;
            --light-color:#666;
            --box-shadow: 0 .5rem 1.5rem rgba(0,0,0.1);
        }
        *{
            font-family: "Nunito", sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            text-decoration: none;
            outline: none;
            border: none;
            text-transform: capitalize;
            transition: all .2s linear; 
        }
        
        html{
            font-size: 62%;
            overflow-x: hidden; 
            scroll-padding-top: 5.5rem; 
            scroll-behavior: smooth; 
        }
        
        section{
            padding: 2rem 9%;
        }
        
        section:nth-child(even){
            background: #E7CCF6;
        }
        
        header{
            position: fixed;
            top:0; left: 0;right: 0;
            background: #E7CCF6;
            padding: 1rem 7%;
            display: flex;
            align-items: center;
            justify-content:space-between;
            z-index: 1000;
            box-shadow: var(--box-shadow);
        }
        
        header .logo {
            color: var(--blue);
            font-size: 2.5rem;
            font-weight: bolder;
        }
        
        header .logo i{
            color: var(--purple);
        }
        
        /* Style for the navbar links */
        header .navbar a { 
            font-size: 1.7rem;
            font-weight: bold;
            border-radius: .5rem;
            padding: .5rem 1.5rem;
            color: var(--light-color);
        }
        
        header .navbar a.active,
        header .navbar a:hover{
            color: #fff;
            background: #09075a;
            border-radius: 50px;
        }
        
        header .icons i,
        header .icons a{
            cursor: pointer;
            margin-left: .5rem;
            height: 4.5rem;
            line-height: 4.5rem;
            width: 4.5rem;
            text-align: center;
            font-size: 1.7rem;
            color: black;
            border-radius: 50%;
            background: rgb(240, 229, 229);
        }
        
        header .icons i:hover, 
        header .icons a:hover{
            color: #E7CCF6;
            background: var(--blue);
            transform: rotate(360deg);
        }
        
        header .icons #menu-bars{
            display: none;
        }
        
        .home-slider {
          width: 100%; /* Adjust width as needed */
          height: 600px; /* Adjust height as needed */
          position: relative;
          overflow: hidden; /* Ensure content doesn't overflow */
        }
        .home .home-slider .slide{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 2rem;
            padding-top: 9rem;
        }
        
        .home .home-slider .slide .content{
            flex:2 1 45rem;
        }
        
        .home .home-slider .slide .pic{
            flex:1 1 45rem;
        }
        
        .home .home-slider .slide .pic img{
            width: 100%;
            border: 5px solid #B28BCA;
            border-radius: 100%;   
        }
        
        .home .home-slider .slide span{
            color: rgb(17, 41, 107);
            font-size: 3rem;
            font-weight: 500;
        }
        
        .home .home-slider .slide h3{
            color: var(--purple);
            font-size: 11.5rem;
            font-weight: 600;
        
        }
        .home .home-slider .slide p{
            color:rgb(78, 74, 74);
            font-size: 2.2rem;
            padding: .5rem 0;
            line-height: 1.5;
            font-weight: 400;
        }
        
        /*.sub-heading{
            text-align: center;
            color: red;
            font-size: 2rem;
            padding-top: 1rem;
        }*/
        
        .heading{
            text-align: center;
            color: rgb(49, 9, 87);
            font-size: 5rem;
            padding-bottom: 2rem;
            text-transform: uppercase;
        }
        
        .btn{
            margin-top: 1rem;
            display: inline-block;
            font-size: 1.7rem;
            color: antiquewhite;
            background-color: #192a56;
            border-radius: .5rem;
            cursor: pointer;
            padding: 1rem 3rem;
        }
        
        .btn:hover{
            background-color: #012288;
            letter-spacing: .1rem;
        }
        
        .box .btn{
            background-color: #670774;
            align-items: center;
        }
        
        
        .dishes{
            background-color: #D6C2E7;
        }
        
        .dishes .box-container{
            display: grid;
            grid-template-columns: repeat(auto-fit,minmax(28rem, 1fr));
            gap: 1.5rem;
        }
        
        .dishes .box-container .box{
            padding: 2.5rem;
            background-color: #D4DDDA;
            border-radius: .5rem;
            /* border: 2px solid rgb(78, 74, 74); */
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
            transition: box-shadow 0.3s ease;
            position: relative;
            overflow: hidden;
        }
        
        .dishes .box-container .box .fa-heart,
        .dishes .box-container .box .fa-eye {
            position: absolute;
            top: 1.5rem;
            background: #fff;
            border-radius: 50%;
            height: 5rem;
            width: 5rem;
            line-height: 5rem;
            font-size: 2rem;
            color: #670774;
        }
        
        .dishes .box-container .box .fa-heart,
        .dishes .box-container .box .fa-eye {
            background: #B28BCA;
            color: #fff;
        }
        
        
        .dishes .box-container .box .fa-heart{
            right: -15rem;
        }
        
        .dishes .box-container .box .fa-eye{
            left: -15rem;
        }
        
        
        body{
            line-height: 1.5;
            font-family: 'Poppins', sans-serif;
          }
        
          *{
            margin:0;
            padding:0;
            box-sizing: border-box;
          }
        
          .review {
            width: 100%;
            padding: 70px 0;
            text-align: center;
        }
        
        .review h2 {
            font-size: 2.5rem;
            font-weight:bolder;
            margin-bottom: 20px;
        }
        
        
        .review h2 span {
            color: #11110f;
        }
        
        .review-icon {
            font-size: 20px; 
        }
        
        .review h2 span::after {
            content: '';
            display: block;
            width: 50px;
            height: 2px;
            background: #fac031;
            margin: 10px auto;
        }
        
        .review-box {
            width: 100%;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap; 
            justify-content: center;
        }
        
        .review-card {
            flex: 0 0 auto;
            margin: 10px;
            width: 300px; 
            max-width: calc(33.33% - 20px); 
            text-align: left;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
            transition: box-shadow 0.3s ease;
        }
        
        .review-profile-pic {
            display: flex; 
            justify-content: center; 
            align-items: center; 
            width: 100px; 
            height: 100px; 
        }
        
        .review-profile-pic img {
            max-width: 100%;
            height: auto;
            border-radius: 50%;
            
        }
        
        .review-text {
            padding: 20px;
        }
        
        .review-text p {
            font-size: 0.9rem;
        }
        
          .container{
            max-width: 1170px;
            margin:auto;
          }
          .row{
            display: flex;
            flex-wrap: wrap;
          }
          .list{
            list-style: none;
          }
          .footer{
            background-color: #24262b;
              padding: 70px 0;
          }
          .footer-col{
             width: 25%;
             padding: 0 15px;
          }
          .footer-col h4{
            font-size: 18px;
            color: #ffffff;
            text-transform: capitalize;
            margin-bottom: 35px;
            font-weight: 500;
            position: relative;
          }
          .footer-col h4::before{
            content: '';
            position: absolute;
            left:0;
            bottom: -10px;
            background-color: #e91e63;
            height: 2px;
            box-sizing: border-box;
            width: 50px;
          }
          .footer-col ul li:not(:last-child){
            margin-bottom: 10px;
          }
          .footer-col ul li a{
            font-size: 16px;
            text-transform: capitalize;
            color: #ffffff;
            text-decoration: none;
            font-weight: 300;
            color: #bbbbbb;
            display: block;
            transition: all 0.3s ease;
          }
          .footer-col ul li a:hover{
            color: #ffffff;
            padding-left: 8px;
          }
          .footer-col .social-links a{
            display: inline-block;
            height: 40px;
            width: 40px;
            background-color: rgba(255,255,255,0.2);
            margin:0 10px 10px 0;
            text-align: center;
            line-height: 40px;
            border-radius: 50%;
            color: #ffffff;
            transition: all 0.5s ease;
          }
          .footer-col .social-links a:hover{
            color: #24262b;
            background-color: #ffffff;
          }
          
        @media (max-width:991px){
        
        html{
            font-size: 50%;
        }
        
        section{
            padding: 2rem 9%;
        
        }
        
        header{
            padding: 1rem 2rem;
        }
        }
        
        @media (max-width:768px){
            header .icons #menu-bars{
            display: inline-block;
        }
        
        
        header .navbar{
            position: absolute;
            top: 100%;
            left:0;
            right: 0;
            background: #E7CCF6;
            border-top: .1rem solid rgba(0,0,0.2);
            border-bottom: .1rem solid rgba(0,0,0.2);
            padding: 1rem;
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        }
        
        header .navbar .active{
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        }
        
        header .navbar a{
            display: block;
            padding: 1.5rem;
            margin: 1rem ;
            font-size: 2rem;
            background: #666;
        }
        }
        @media (max-width:991px){
        
        html{
            font-size: 40%;
        }
        }
        @media(max-width: 767px){
            .footer-col{
              width: 50%;
              margin-bottom: 30px;
          }
          }
          @media(max-width: 574px){
            .footer-col{
              width: 100%;
          }
          }
        
        
