body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    justify-content: center;
}

h1, h2 {
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

i {
    cursor: pointer;

}

i:hover {
    color: #dc0949;
    transform: ease 0.3s;
}

.remove-button {
    background-color: #ff6347;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 20px;
    
}

.remove-button:hover {
    color: white;
    
}



.food-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.food-item img {
    display: block;
    margin: 0 auto;
}
